<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="#">Western Maryland College</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item ">
              <a class="nav-link " href="{% url 'add_course' %}">Add Course</a>
            </li> 
            <li class="nav-item ">
              <a class="nav-link " href="{% url 'add_student' %}">Add Student</a>
            </li> 
              <li class="nav-item ">
              <a class="nav-link " href="{% url 'show_details' %}">Show Student Details</a>
            </li>  
            <li class="nav-item ">
              <a class="nav-link " href="{% url 'show_teacher' %}">Show Teacher Details</a>
            </li>  
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'admin_logout' %}">Logout</a>
              </li>
             
          </ul>
        </div>
      </nav>
      <section class="vh-100" style="background-image:url('{% static "images/add1.jpg" %}'); background-repeat:no-repeat;background-size:cover;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <form method="post" action="{% url 'add_studentdb' %}">
                    {% csrf_token %}
                  <h3 class="mb-5">Add Student</h3>
      
                  <div class="form-outline mb-4">
                    
                    <input type="text" placeholder="Enter Name" name="name" class="form-control "  null=True/>
                    
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="text" placeholder="Address"  name="address" class="form-control " />
                   
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" placeholder="Enter Age"  name="age" class="form-control " />
                   
                  </div>
                  <div class="form-outline mb-4">
                    <input type="date" placeholder="Joining Date"  name="jdate" class="form-control " />
                   
                  </div>
                  
                  <div class="form-outline mb-4">
                    <select class="form-control" name="sel">
                        {% for c in course %}
                        <option value="{{c.id}}">{{c.course_name}}</option>
                        {% endfor %}
                        
                  </div>
                  
                  <input type="Submit" value="Submit">
                  
      
                </form>
      
                  
      
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

    </body>
    </html>